html{
background-color:black;
font-size:62.5%;
color:white;
}
body{
margin:0;
padding:0;
font-size:1.6rem;
}
#texte{

}
#header{
display:block;
background-color:pink;
height:7em;
padding:0;
position:fixed;
width:100%
}

li{
display:block;
padding-right:0.5em;

border-right:solid black 0.1em;

}

li:last-child{
border-right:solid white 0em}


.in{
display:block;
background-color:blue;
margin-left:3em;
margin-right:3em;
padding:0.3em;
}

#banner{
display:block;
height:15em;
background-color:white;
background-image:url("http://ekladata.com/pFeVW4wFexVwdMsK2GY2g6k3Noo.png");
background-size:cover;
margin-top:8em;


}


#images{
height:20em;
text-align:center;
margin:0.3em;

}


#lastparaf{
display:block;
text-align:center;
height:35em;

}
#googleMap{

margin:1em;
height:30em;
float:left;
width:45%}

#formulaire{
padding:1em;
border-left:solid 0.1em black;
margin:1em;
display:block;

width:45%;
float:right;
}
ul{

float:right;}

li{
margin:0.5em;
display:inline-block;
}

#logo{
display:block;
background-color:aqua;
width:5em;
height:5em;
position:absolute;
}


#formulaire input{
display:inline-block;
width:85%;
margin-top:0.5em;
margin-left:3%
}
#image1,#image2,#image3,#image4{
display:inline-block;
}

#image1 img,#image2 img,#image3 img,#image4 img{
width:10em;
}


.aligne{
margin : 3em;
displau:inline-block;
}

input#prenom,input#nom,input#datenaissance,input#villenai{
width:40%;
margin-left:3%
}
input#prenom,input#datenaissance{

}

input#nom,input#villenai{

}
#footer{
display:block;
text-align:right;
padding:0.3em;
border-top:solid 0.1em white;
display:block;
width:auto;}

